@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
<div class="d-flex">
        <a id="manage" class="nav-link text-light " title="Manage">@UserManager.GetUserName(User)</a>


        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-light">Logout</button>
        </form>

</div>
     
    }
    else
    {

<div>

        <a class="nav-link text-light btn-success" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>

        <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>

</div>



    }
