@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*Header Section*@
<section id="breadcrumbs" class="breadcrumbs ">
    <div class="container d-flex justify-content-center">
        <h2>Intex Team</h2>
    </div>
    <div class="container d-flex justify-content-center">
        <p class="animate__animated animate__fadeInUp">
            With powerful coding comes mediocre responsibility
        </p>
    </div>
</section><!-- End Breadcrumbs -->
<main id="main">

    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
            <div class="row">

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="member d-flex align-items-start">
                        
                        <div class="pic"><img src="~/img/team/Williams, Brennan 90-180-8600.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Brennan Williams</h4>
                            <span>Senior Developer</span>
                            <p>When he isn't tearing his ACL, Brennan loves to play sports and spend time with his fiance. Brennan is planning on becoming a software developer.</p>

                            <div class="social">
                                @*<a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>*@
                                <a href="https://www.linkedin.com/in/brennantaylorwilliams/"> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="~/img/team/StetsonKent.JPG" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Stetson Kent</h4>
                            <span>Product Manager</span>
                            <p>Stetson can pull a tractor while walking backwards. Data modeling is one of his many strengths.</p>
                            <div class="social">
                                @*<a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>*@
                                <a href="https://www.linkedin.com/in/stetson-kent-914a39195/"> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="~/img/team/Corbett, Matthew 90-440-9787.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Matthew Corbett</h4>
                            <span>CTO</span>
                            <p>Matthew is an aspiring data engineer and an avid Dallas Mavericks fan. He enjoys spending time with his wife playing board games.</p>
                            <div class="social">
                                @*<a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>*@
                                <a href="https://www.linkedin.com/in/matthew-e-corbett/"> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="400">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="~/img/team/Harrison, Spencer 65-036-4729 (1).jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Spencer Harrison</h4>
                            <span>Scrum Master</span>
                            <p>Spencer spends his time boating and skiing. He plans on studying data analytics and web developement.</p>
                            <div class="social">

                                <a href="https://www.linkedin.com/in/spencer-j-harrison/"> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->



</main><!-- End #main -->
<!-- ======= Team Section ======= -->
