@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    ViewData["Title"] = "Home Page";
}


@*Header Section*@
<section id="breadcrumbs" class="breadcrumbs ">
    <div class="container d-flex justify-content-center">
        <h2>Currently Viewing all Accidents</h2>
    </div>
    <div class="container d-flex justify-content-center">
        <p class="animate__animated animate__fadeInUp">
            View & Filter Accidents
        </p>
    </div>
</section><!-- End Breadcrumbs -->

<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        @*<div class="container" data-aos="fade-up">*@
            
            <div class="section-title">
                <br />
                <br />
            </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table id="accident" width="100%" class="table  table-hover table-responsive table-sm table-striped">
                <thead>
                    <tr>

                        <td class="text-center">CRASH_ID</td>
                        <td class="text-center">CRASH_DATETIME</td>
                        <td class="text-center">CRASH_SEVERITY_ID</td>
                        <td class="text-center">ROUTE</td>
                        <td class="text-center">MILEPOINT</td>
                        <td class="text-center">LAT_UTM_Y</td>
                        <td class="text-center">LONG_UTM_X</td>
                        <td class="text-center">MAIN_ROAD_NAME</td>
                        <td class="text-center">CITY</td>
                        <td class="text-center">COUNTY_NAME</td>
                        <td class="text-center">PEDESTRIAN_INVOLVED</td>
                        <td class="text-center">WORK_ZONE_RELATED</td>
                        <td class="text-center">BICYCLIST_INVOLVED</td>
                        <td class="text-center">MOTORCYCLE_INVOLVED</td>
                        <td class="text-center">IMPROPER_RESTRAINT</td>
                        <td class="text-center">UNRESTRAINED</td>

                        <td class="text-center">DUI</td>
                        <td class="text-center">INTERSECTION_RELATED</td>
                        <td class="text-center">WILD_ANIMAL_RELATED</td>
                        <td class="text-center">DOMESTIC_ANIMAL_RELATED</td>
                        <td class="text-center">OVERTURN_ROLLOVER</td>
                        <td class="text-center">COMMERCIAL_MOTOR_VEH_INVOLVED</td>
                        <td class="text-center">DISTRACTED_DRIVING</td>
                        <td class="text-center">DROWSY_DRIVING</td>
                        <td class="text-center">NIGHT_DARK_CONDITION</td>
                        <td class="text-center">OLDER_DRIVER_INVOLVED</td>
                        <td class="text-center">ROADWAY_DEPARTURE</td>
                        <td class="text-center">SINGLE_VEHICLE</td>
                        <td class="text-center">TEENAGE_DRIVER_INVOLVED</td>

                        <td class="text-center">Alter</td>
                    </tr>
                </thead>
                <tbody>
              

                </tbody>
             


            </table>

        </div>
            </div>
         
    </section> <!-- End Services Section -->



</main><!-- End #main -->