@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Search</h2>
                <p class="animate__animated animate__fadeInUp">
                    Find any type of accident
                </p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto btn-primary">Search</a>
            </div>
        </div>


    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Icon Boxes Section ======= -->
    <section id="icon-boxes" class="icon-boxes">
    </section><!-- End Icon Boxes Section -->

