@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CrashSeverityData

<section id="hero" class="d-flex justify-cntent-center align-items-center" style="height:10%;">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container m-5">
                <br />
                <h2>Predict Crash Severity</h2>
                <p class="animate__animated animate__fadeInUp">
                    Fill out the form below to determine the severity of potential crashes.
                </p>

                <h2>
                    @ViewBag.Message
                </h2>
            </div>
        </div>


    </div>
</section><!-- End Hero -->

<main id="main">

    <section id="services" class="services">
        <div class="container" style="width:25%;" data-aos="fade-up">

            <div class="section-title">
                <br />
                <br />
            </div>

            <form method="post" asp-controller="Home" asp-action="Score">

                <div class="alert-danger" asp-validation-summary="All"></div>

                <div class="d-flex justify-content-between">
                    <label class="m-2 pt-2" asp-for="route">Route #</label>
                    <input type="number" asp-for="route" min="1" max="1000000" placeholder="10" class= "form-control m-2" style="width: 50%; " />
                </div>
                <div class="d-flex justify-content-between">
                    <label class="m-2 pt-2" asp-for="milepoint">Milepoint</label>
                    <input asp-for="milepoint" min="0" max="500" placeholder="10" class="form-control m-2" style="width: 50%; " />
                </div>
                <div class="d-flex justify-content-between">
                    <label class="m-2 pt-2" asp-for="lat_utm_y">Latitude (UTM_Y Format)</label>
                    <input asp-for="lat_utm_y" min="4000000" max="5000000" placeholder="4500000" class="form-control m-2" style="width: 50%; " />
                </div>
                <div class="d-flex justify-content-between">
                    <label class="m-2 pt-2" asp-for="long_utm_x">Longitude (UTM_Y Format)</label>
                    <input asp-for="long_utm_x" min="200000" max="700000" placeholder="500000" class="form-control m-2" style="width: 50%; " />
                </div>

                @*Booleans*@
                <div class="d-flex justify-content-between">
                    <label class="m-2 pt-2" asp-for="pedestrian_involved">Pedestrian Involved?</label>
                    <select asp-for="pedestrian_involved">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </div>
                <br />

                <div class="d-flex justify-content-between">
                    <label class="m-2 pt-2" asp-for="motorcycle_involved">Motorcylce Involved?</label>
                    <select asp-for="motorcycle_involved">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </div>
                <br />

                <div class="d-flex justify-content-between">
                    <label class="m-2 pt-2" asp-for="intersection_related">Intersection Related?</label>
                    <select asp-for="intersection_related">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </div>
                <br />

                <div class="d-flex justify-content-between">
                    <label class="m-2 pt-2" asp-for="overturn_rollover">Overturn/Rollover?</label>
                    <select asp-for="overturn_rollover">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </div>
                <br />

                <div class="d-flex justify-content-between">
                    <label class="m-2 pt-2" asp-for="older_driver_involved">Older Driver Involved?</label>
                    <select asp-for="older_driver_involved">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </div>
                <br />

                <div class="d-flex justify-content-between">
                    <label class="m-2 pt-2" asp-for="night_dark_condition">At Night?</label>
                    <select asp-for="night_dark_condition">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </div>
                <br />

                <div class="d-flex justify-content-between">
                    <label class="m-2 pt-2" asp-for="distracted_driving">Distracted Driver?</label>
                    <select asp-for="distracted_driving">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </div>
                <br />

                <div class="d-flex justify-content-center">
                    <input class="btn btn-primary" type="submit" value="How Bad is It?" />
                </div>

            </form>

        </div>
    </section> <!-- End Services Section -->



</main><!-- End #main -->